/* Start My Container */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

.container{
	margin: auto;
	padding: 0 20px;
}

@media (max-width: 767px){ /* Mobile & Tablet */
	.container{
		padding: 0 10px;
	}
}

@media (min-width: 768px){ /* Small screens */
	.container{
		width: 738px;
	}
}

@media (min-width: 992px){ /* Medium screens */
	.container{
		width: 962px;
	}
}

@media (min-width: 1200px){ /* Large screens */
	.container{
		width: 1170px;
	}
}

/* End My Container */